In [36]:
import pandas as pd
import os
import matplotlib.pyplot as pyplt
import seaborn as sns
sns.set()
import math

def sigmoid(x):
    return 1 / (1 + math.exp(-x))

In [42]:
coord_dir = '../frenchdata/index'
df_users = pd.read_csv(os.path.join(coord_dir, 'coord_user_weighted.csv'))

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [38]:
df_users.head()

          user  coord_index  coord_sigmoid  counter
0      fabbing          2.1       0.890903        1
1     Geeke77e          3.3       0.964429        1
2  KwabenaPoku          1.0       0.731059        1
3   OctyMorare          2.1       0.890903        1
4    filmvibes          3.3       0.964429        1

In [43]:
unique_users = df_users['user'].tolist()
len(unique_users)

560621

In [44]:
df_users['coord_index'].describe()

count    105893.000000
mean          4.164747
std           4.627258
min           0.000000
25%           3.084112
50%           3.084112
75%           4.149533
max         214.000000
Name: coord_index, dtype: float64

In [45]:
df_users['coord_index'].median()

3.08411214953271

In [19]:
df_users['coord_sigmoid'].describe()

count    8307.000000
mean        0.977870
std         0.023608
min         0.952574
25%         0.952574
50%         0.999826
75%         0.999949
max         1.000000
Name: coord_sigmoid, dtype: float64